In [2]:
# pip install yfinance

In [3]:
import yfinance as yf
import pandas as pd

In [21]:
# Just looking at Tesla for now
msft = yf.Ticker("TSLA")

# GETTING ALL THE STOCK INFO
info = msft.info

#Getting just the ticker name
ticker_name = info['symbol']

# Print the ticker name
print(ticker_name)

TSLA

In [20]:
# GETTING THE HISTORICAL DATA OF TESLA STOCK

historical_data = msft.history(period = "1mo")
# historical_data

In [6]:
msft.history_metadata

{'currency': 'USD',
 'symbol': 'TSLA',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 1277818200,
 'regularMarketTime': 1694197475,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 247.075,
 'chartPreviousClose': 249.7,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'start': 1694160000,
   'end': 1694179800,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'start': 1694179800,
   'end': 1694203200,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'start': 1694203200,
   'end': 1694217600,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [7]:
# show share count
msft.get_shares_full(start="2022-01-01", end = None)

2022-02-04 00:00:00-05:00    1020630016
2022-02-05 00:00:00-05:00    1004259968
2022-02-08 00:00:00-05:00    1033510016
2022-02-11 00:00:00-05:00    1033510016
2022-03-04 00:00:00-05:00    1083500032
2022-03-05 00:00:00-05:00    1033510016
2022-03-15 00:00:00-04:00    1072590016
2022-03-17 00:00:00-04:00    1033510016
2022-03-28 00:00:00-04:00    1036860032
2022-03-31 00:00:00-04:00    1033510016
2022-04-01 00:00:00-04:00    1049230016
2022-04-02 00:00:00-04:00    1033510016
2022-04-29 00:00:00-04:00    1036009984
2022-07-01 00:00:00-04:00    1036390016
2022-07-26 00:00:00-04:00    1044489984
2022-08-19 00:00:00-04:00    1048380032
2022-08-20 00:00:00-04:00    1044489984
2022-08-29 00:00:00-04:00    3133469952
2022-09-02 00:00:00-04:00    3133469952
2022-09-15 00:00:00-04:00    3024950016
2022-09-16 00:00:00-04:00    3121710080
2022-09-17 00:00:00-04:00    3133469952
2022-10-12 00:00:00-04:00    3226970112
2022-10-13 00:00:00-04:00    3133469952
2022-10-26 00:00:00-04:00    3157750016
2022-11-08 00:00:00-05:00    3324229888
2022-11-10 00:00:00-05:00    3157750016
2022-12-06 00:00:00-05:00    3372539904
2022-12-07 00:00:00-05:00    3157750016
2023-01-04 00:00:00-05:00    3598259968
2023-01-06 00:00:00-05:00    3157750016
2023-02-02 00:00:00-05:00    3164100096
2023-03-16 00:00:00-04:00    3164100096
2023-03-16 00:00:00-04:00    3211770112
2023-03-25 00:00:00-04:00    3194180096
2023-03-25 00:00:00-04:00    3164100096
2023-03-30 00:00:00-04:00    3242540032
2023-04-01 00:00:00-04:00    3362099968
2023-04-01 00:00:00-04:00    3164100096
2023-04-04 00:00:00-04:00    3370909952
2023-04-05 00:00:00-04:00    3164100096
2023-04-06 00:00:00-04:00    3284509952
2023-04-07 00:00:00-04:00    3292679936
2023-04-07 00:00:00-04:00    3164100096
2023-04-08 00:00:00-04:00    3169309952
2023-04-13 00:00:00-04:00    3169309952
2023-04-25 00:00:00-04:00    3169499904
2023-05-03 00:00:00-04:00    3199559936
2023-05-04 00:00:00-04:00    3169499904
2023-05-14 00:00:00-04:00    3180069888
2023-05-16 00:00:00-04:00    3169499904
2023-07-19 00:00:00-04:00    3201809920
2023-07-20 00:00:00-04:00    3169499904
2023-08-22 00:00:00-04:00    3173989888
dtype: int64

In [8]:
# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default.
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.

e_dates = msft.earnings_dates

In [23]:
df = yf.download('TSLA', start='2021-01-01', end='2023-01-12')
df['Ticker'] = info['symbol']


# Calculate the daily return and add it as a new column
df['Daily Return'] = df['Close'].pct_change()

n_periods = 20
# Calculate the Simple Moving Average: Moving averages help identify trends
df['SMA'] = df['Close'].rolling(window = n_periods).mean()

# Calculate the Exponential Moving Average: Good with price changes
df['EMA'] = df['Close'].ewm(span = n_periods, adjust = False).mean()
df = df[['Ticker', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Daily Return', 'SMA', 'EMA']]
df

[*********************100%%**********************]  1 of 1 completed

,Ticker,Open,High,Low,Close,Adj Close,Volume,Daily Return,SMA,EMA
Date,,,,,,,,,,
2021-01-04,TSLA,239.820007,248.163330,239.063339,243.256668,243.256668,145914600,NaN,NaN,243.256668
2021-01-05,TSLA,241.220001,246.946671,239.733337,245.036667,245.036667,96735600,0.007317,NaN,243.426192
2021-01-06,TSLA,252.830002,258.000000,249.699997,251.993332,251.993332,134100000,0.028390,NaN,244.242110
2021-01-07,TSLA,259.209991,272.329987,258.399994,272.013336,272.013336,154496700,0.079447,NaN,246.886989
2021-01-08,TSLA,285.333344,294.829987,279.463318,293.339996,293.339996,225166500,0.078403,NaN,251.311085
...,...,...,...,...,...,...,...,...,...,...
2023-01-05,TSLA,110.510002,111.750000,107.160004,110.339996,110.339996,157986300,-0.029039,139.631500,136.193704
2023-01-06,TSLA,103.000000,114.389999,101.809998,113.059998,113.059998,220911100,0.024651,136.582500,133.990494
2023-01-09,TSLA,118.959999,123.519997,117.110001,119.769997,119.769997,190284000,0.059349,133.899000,132.636161
2023-01-10,TSLA,121.070000,122.760002,114.919998,118.849998,118.849998,167642500,-0.007681,130.889000,131.323193
2023-01-11,TSLA,122.089996,125.949997,120.510002,123.220001,123.220001,183810800,0.036769,128.658999,130.551460

In [24]:
# CLEANING THE DF

# used backward fill because the NA's were in the first row
df.fillna(method = 'bfill', inplace = True)
df

,Ticker,Open,High,Low,Close,Adj Close,Volume,Daily Return,SMA,EMA
Date,,,,,,,,,,
2021-01-04,TSLA,239.820007,248.163330,239.063339,243.256668,243.256668,145914600,0.007317,276.442834,243.256668
2021-01-05,TSLA,241.220001,246.946671,239.733337,245.036667,245.036667,96735600,0.007317,276.442834,243.426192
2021-01-06,TSLA,252.830002,258.000000,249.699997,251.993332,251.993332,134100000,0.028390,276.442834,244.242110
2021-01-07,TSLA,259.209991,272.329987,258.399994,272.013336,272.013336,154496700,0.079447,276.442834,246.886989
2021-01-08,TSLA,285.333344,294.829987,279.463318,293.339996,293.339996,225166500,0.078403,276.442834,251.311085
...,...,...,...,...,...,...,...,...,...,...
2023-01-05,TSLA,110.510002,111.750000,107.160004,110.339996,110.339996,157986300,-0.029039,139.631500,136.193704
2023-01-06,TSLA,103.000000,114.389999,101.809998,113.059998,113.059998,220911100,0.024651,136.582500,133.990494
2023-01-09,TSLA,118.959999,123.519997,117.110001,119.769997,119.769997,190284000,0.059349,133.899000,132.636161
2023-01-10,TSLA,121.070000,122.760002,114.919998,118.849998,118.849998,167642500,-0.007681,130.889000,131.323193
2023-01-11,TSLA,122.089996,125.949997,120.510002,123.220001,123.220001,183810800,0.036769,128.658999,130.551460

In [25]:
# The Date column is already in datetime
print(df.index.dtype)

datetime64[ns]

In [26]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 510 entries, 2021-01-04 to 2023-01-11
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        510 non-null    object
 1   Open          510 non-null    float64
 2   High          510 non-null    float64
 3   Low           510 non-null    float64
 4   Close         510 non-null    float64
 5   Adj Close     510 non-null    float64
 6   Volume        510 non-null    int64
 7   Daily Return  510 non-null    float64
 8   SMA           510 non-null    float64
 9   EMA           510 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 43.8+ KB
None